<h1> Experiments form </h1>
<%= form_with(model: @experiment) do |form| %>
  <ul>
    <ul><%= form.text_area :results, cols: '40',rows: '12', placeholder:'Results' %></ul>
    <ul><%= form.text_area :conclusions, cols: '40',rows: '12', placeholder: 'Conclusions- Not necessary'%></ul>
    <ul><%= form.submit %></ul>
  </ul>
<% end %>
