<!DOCTYPE html>
<html>
  <head>
    <title>LabTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header role="banner" class="wrap-float">
      <div class="center wrap-float">
        <nav class="clearfix">
          <ul class="no-bullets no-margin no-padding right">
        
            <li class="left"><a href="/">home</a></li>
          </ul>
        </nav>
      </div>
    </header>


    <%= yield %>

  </body>
</html>
